
.story-img .Atrium-logo{
                width: 39vw;
                height: auto;
                padding-left: 31%;
                top: 173px;
                align-content: center;
            }
            .Colosseum{
                z-index: -1;
                top: -360px;
                left: -560px;
                width: 2800px;
                opacity: 0.51;
                display: none;
            }
            .Colosseum-over-1440{
                top: 0vh;
                z-index: -1;
                opacity: 0.51;
                width: 100vw;
            }
            .Colosseum-iPad{
                display: none !important;
            }
            .Colosseum-414{
                display: none !important;
            }
            .Welcome-1 {
                z-index: -2;
                width: 120%;
                left: 13%;
                top: 882px;
            }
            .Welcome-1-iPad{
                display: none;
            }
            .Welcome-2 {
                z-index: -3;
                width: 70%;
                left: -100px;
                top: 1452px;
            }
            .coral-15{
                width: 450px;
                left: 76%;;
                top: 1008px;
                float: right;
            }
            .coral-16{
                z-index: -1;
                width: 500px;
                right: 84%;
                top: 1200px;
                float: left;
            }
            .plants-14-alium {
                width: 23%;
                right: 60%;
                top: 1650px;
                transform: rotate(5deg);
            }
            .Story-iPad-background{
                display: none !important;
            }
            .Story-background-414{
                display: none;
            }


                @media only screen and (max-width:1024px){
                    
                .story-img .Atrium-logo{
                            width: 50vw;
                            height: auto;
                            padding-left: 25%;
                            padding-right: 25%;
                            align-content: center;
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                        }
                        .Colosseum{
                            z-index: -1;
                            top: -10vw;
                            left: -50vw;
                            width: 200vw;
                            opacity: 0.51;
                            display: none;
                        }
                    .Colosseum-iPad{
                        display: block !important; 
                        z-index: -10;
                        width: 100vw;
                        top: 0;
                        
                    }
                    .Colosseum-over-1440{
                        display: none;
                    }
                    
                        .Welcome-1 {
                            z-index: -2;
                            width: 120%;
                            left: 1%;
                            top: 892px;
                            display: none;
                            
                        }
                        .Welcome-1-iPad{
                            z-index: -10;
                            top: 892px;
                            display: none;
                        }
                        .Welcome-2 {
                            z-index: -3;
                            width: 90%;
                            left: -100px;
                            top: 1452px;
                            display: none;
                        }
                        .coral-15{
                            z-index: -3;
                            width: 250px;
                            left: 80%;;
                            top: 1008px;
                            float: right;
                            display: none;
                        }
                        .coral-16{
                            z-index: -1;
                            width: 300px;
                            right: 84%;
                            top: 1350px;
                            float: left;
                            display: none;
                        }
                        .plants-14-alium {
                            width: 30%;
                            right: 60%;
                            top: 1530px;
                            transform: rotate(5deg);
                        }
                }
                        
                    @media (max-width:1025px){
                        .Story-iPad-background{
                            display: block !important;
                            min-width: 415px;
                            max-width: 100vw;
                            margin-top: 600px;
                            z-index: -2;
                        }
                    }

                            @media only screen and (max-width:414px){
                    
                            .story-img .Atrium-logo{
                                        width: 92vw;
                                        height: auto;
                                        padding-left: 4.3%;
                                        padding-right: 4.3%;
                                        top: 23vh;
                                    }
                                    .Colosseum{
                                        z-index: -1;
                                        top: -10vw;
                                        left: -190vw;
                                        width: 100vw;
                                        opacity: 0.51;
                                    }
                                    .Colosseum-iPad{
                                        z-index: -10;
                                        width: 100vw;
                                        top: 0;
                                        display: none !important;

                                    }
                                    .Colosseum-414{
                                        display: block !important;
                                        z-index: -10;
                                        top:0;
                                        width: 100vw;
                                    }
                                    .Welcome-1 {
                                        z-index: -2;
                                        width: 120%;
                                        left: 20%;
                                        top: 1442px;
                                    }
                                    .Welcome-2 {
                                        z-index: -3;
                                        width: 130%;
                                        left: -100px;
                                        top: 1702px;
                                    }
                                    .coral-15{
                                        z-index: -1;
                                        width: 250px;
                                        left: 70%;;
                                        top: 1158px;
                                        float: right;
                                    }
                                    .coral-16{
                                        z-index: -1;
                                        width: 300px;
                                        right: 84%;
                                        top: 1350px;
                                        float: left;
                                    }
                                    .plants-14-alium {
                                        width: 50%;
                                        right: 34%;
                                        top: 1800px;
                                        transform: rotate(5deg);
                                        display: none;
                                    }
                                    .Story-iPad-background{
                                        display: none !important;
                                    }
                                    .Story-background-414{
                                        display: block;
                                        z-index: -10;
                                        margin-top: 900px;
                                        width: 100vw;
                                    }
                            }

                                        @media only screen and (max-width:360px){
                                            .Story-background-414{
                                                    display: block;
                                                    z-index: -10;
                                                    margin-top: 130vh;
                                                    width: 100vw;
                                                }
                                        }