.footer-img .plants-1{
    width: 160px;
    transform: rotate(0deg);
    opacity: 1;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 150px ;
}
.plants-1-copy{
    width: 160px;
    transform: rotate(0deg);
    opacity: 1;
    margin-left: 68%;
    margin-right: auto;
    margin-top: 120px ;
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.plants-2{
    width: 107px;
    margin-left: 77%;
    margin-right: auto ;
    margin-top: 0px;
}
.plants-17{
    z-index: 10;
    width: 200px;
    opacity: 0.74;
    margin-left: 74%;
    margin-top: 190px;
}
.plants-20{
    width: 187px;
    margin-left: 87%;
    margin-right: auto ;
    margin-top: -600px;
}
.coral-2{
    width: 403px;
    margin-left: -2%;
    margin-right: auto ;
    margin-top: -150px;
}
.coral-3{
    z-index: 2;
    width: 220px;
    margin-left: 13%;
    margin-right: auto ;
    margin-top: 250px;
}
.coral-4{
    z-index: 2;
    width: 290px;
    margin-left: -2%;
    margin-right: auto ;
    margin-top: 250px;
}
.coral-5{
    z-index: 1;
    width: 100px;
    margin-left: 2%;
    margin-right: auto ;
    margin-top: 150px;
}
.coral-6{
    z-index: 0;
  width: 250px;
  transform: rotate(21deg);
  opacity: 0.75;
    margin-left: 22%;
    margin-right: auto ;
    margin-top: -30px;
}

.coral-10{
    width: 320px;
    margin-left: 7%;
    margin-right: auto ;
    margin-top: 80px;
    
}


.footer-img .coral-12{
    z-index: 10;
    width: 150px;
    transform: rotate(0deg);
    opacity: 1;
    margin-left: 0% ;
    margin-right: auto;
    margin-top: -400px;
}
.coral-13{
    width: 160px;
    margin-left: 14%;
    margin-right: auto ;
    margin-top: -300px;
}
.coral-14{
    width: 150px;
    margin-left: 84%;
    margin-right: auto ;
    margin-top: 50px;
}
.plants-15-alium{
    display: none !important;
}
.Atrium-logo-Black{
    width: 174px;
    opacity: 0.73;
    margin-left: 16%;
    margin-top: 500px;
}
.footer-medium{
    width: 42px;
    height: 42px;
    margin-left: 17%;
    margin-top: 780px;
    color: aqua; 
}

svg{
    width: 42px;
    height: 42px;
    margin-left: 17%;
    margin-top: 780px;
    position: absolute;
    display: inline-block;
    fill : white;
    background: black;
    place-items: center center;
}
footer-img svg:hover {
    fill: white;
}
svg rect{
    fill: black;
}
svg rect:hover {
    fill: #0fafb4;
}

        @media only screen and (max-width:1024px){
            .footer-img .plants-1{
                width: 130px;
                transform: rotate(0deg);
                opacity: 1;
                margin-left: 5%;
                margin-right: auto;
                margin-top: -250px ;
            }
            .plants-1-copy{
                width: 130px;
                transform: rotate(0deg);
                opacity: 1;
                margin-left: 73%;
                margin-right: auto;
                margin-top: -120px ;
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
            .plants-2{
                width: 107px;
                margin-left: 80%;
                margin-right: auto ;
                margin-top: -130px;
            }
            .plants-17{
                z-index: 10;
                width: 120px;
                opacity: 0.74;
                margin-left: 69%;
                margin-top: 0px;
            }
            .plants-20{
                width: 187px;
                margin-left: 87%;
                margin-right: auto ;
                margin-top: -600px;
                display: none;
            }
            .coral-2{
                width: 403px;
                margin-left: -2%;
                margin-right: auto ;
                margin-top: -150px;
            }
            .coral-3{
                z-index: 2;
                width: 140px;
                margin-left: 24%;
                margin-right: auto ;
                margin-top: 120px;
            }
            .coral-4{
                z-index: 2;
                width: 260px;
                margin-left: -2%;
                margin-right: auto ;
                margin-top: 110px;
            }
            .coral-5{
                z-index: 1;
                width: 80px;
                margin-left: 2%;
                margin-right: auto ;
                margin-top: 30px;
            }
            .coral-6{
                z-index: 0;
              width: 170px;
              transform: rotate(21deg);
              opacity: 0.75;
                margin-left: 22%;
                margin-right: auto ;
                margin-top: -60px;
            }

            .coral-10{
                width: 220px;
                margin-left: 7%;
                margin-right: auto ;
                margin-top: 0px;

            }


            .footer-img .coral-12{
                z-index: 10;
                width: 150px;
                transform: rotate(0deg);
                opacity: 1;
                margin-left: 0% ;
                margin-right: auto;
                margin-top: -500px;
            }
            .coral-13{
                width: 160px;
                margin-left: 14%;
                margin-right: auto ;
                margin-top: -350px;
            }
            .coral-14{
                width: 110px;
                margin-left: 84%;
                margin-right: auto ;
                margin-top: -20px;
            }
            .Atrium-logo-Black{
                width: 174px;
                opacity: 0.73;
                margin-left: 10%;
                margin-top: 300px;
            }
            .footer-medium{
                width: 42px;
                height: 42px;
                margin-left: 12%;
                margin-top: 80px;
                color: aqua; 
            }

            svg{
                width: 42px;
                height: 42px;
                margin-left: 12%;
                margin-top: 520px;
                position: absolute;
                display: inline-block;
                fill : white;
                background: black;
                place-items: center center;
            }
            footer-img svg:hover {
                fill: white;
            }
            svg rect{
                fill: black;
            }
            svg rect:hover {
                fill: #0fafb4;
            }
}

                @media only screen and (max-width:414px){
                            .footer-img .plants-1{
                                width: 110px;
                                transform: rotate(0deg);
                                opacity: 1;
                                margin-left: 30%;
                                margin-right: auto;
                                margin-top: -20px ;
                                display: none;
                            }
                            .plants-1-copy{
                                width: 110px;
                                transform: rotate(0deg);
                                opacity: 1;
                                margin-left: 70%;
                                margin-right: auto;
                                margin-top: -130px ;
                                transform: scaleX(-1);
                                filter: FlipH;
                                -ms-filter: "FlipH";
                                display: none;
                            }
                            .plants-2{
                                width: 32px;
                                margin-left: 78%;
                                margin-right: auto ;
                                margin-top: -130px;
                                display: none;

                            }
                            .plants-17{
                                z-index: 10;
                                width: 110px;
                                opacity: 0.74;
                                margin-left: 72%;
                                margin-top: 20px;
                                display: none;
                            }
                            .plants-20{
                                width: 180px;
                                margin-left: 87%;
                                margin-right: auto ;
                                margin-top: -600px;
                                display: none;
                            }
                            .coral-2{
                                z-index: 0;
                                width: 180px;
                                margin-left: -3%;
                                margin-right: auto ;
                                margin-top: 100px;
                            }
                            .coral-3{
                                z-index: 2;
                                width: 110px;
                                margin-left: 20%;
                                margin-right: auto ;
                                margin-top: 120px;
                                display: none;
                            }
                            .coral-4{
                                z-index: 2;
                                width: 210px;
                                margin-left: -2%;
                                margin-right: auto ;
                                margin-top: 100px;
                                display: none;
                            }
                            .coral-5{
                                z-index: 1;
                                width: 70px;
                                margin-left: 1%;
                                margin-right: auto ;
                                margin-top: 0px;
                                display: none;
                            }
                            .coral-6{
                                z-index: 0;
                                width: 127px;
                                transform: rotate(21deg);
                                opacity: 0.75;
                                margin-left: 9%;
                                margin-right: auto ;
                                margin-top: 160px;
                            }

                            .coral-10{
                                width: 120px;
                                margin-left: 3%;
                                margin-right: auto ;
                                margin-top:260px;

                            }


                            .footer-img .coral-12{
                                z-index: 10;
                                width: 100px;
                                transform: rotate(0deg);
                                opacity: 0.8;
                                margin-left: 0% ;
                                margin-right: auto;
                                margin-top: -100px;
                                display: none;
                            }
                            .coral-13{
                                width: 160px;
                                margin-left: 14%;
                                margin-right: auto ;
                                margin-top: -350px;
                                display: none;
                            }
                            .coral-14{
                                width: 100px;
                                margin-left: 83%;
                                margin-right: auto ;
                                margin-top: -20px;
                                display: none;
                            }
                            .plants-15-alium{
                                display: block !important;
                                width: 139px;
                                margin-left: 27%;
                                margin-top: 250px;
                            }
                            
                            .Atrium-logo-Black{
                                width: 222px;
                                opacity: 0.73;
                                margin-left: 5%;
                                margin-top: 360px;
                            }
                            .footer-medium{
                                width: 42px;
                                height: 42px;
                                margin-left: 12%;
                                margin-top: 80px;
                                color: aqua; 
                            }

                            svg{
                                width: 42px;
                                height: 42px;
                                margin-left: 8%;
                                margin-top: 450px;
                                position: absolute;
                                display: inline-block;
                                fill : white;
                                background: black;
                                place-items: center center;
                            }
                            footer-img svg:hover {
                                fill: white;
                            }
                            svg rect{
                                fill: black;
                            }
                            svg rect:hover {
                                fill: #0fafb4;
                            }
                }

                            @media(max-width:360px){
                                        .coral-2{
                                            z-index: 0;
                                            width: 50vw;
                                            margin-left: -3%;
                                            margin-right: auto ;
                                            margin-top: -10vh;
                                        }
                                        .coral-6{
                                            z-index: 0;
                                            width: 25vw;
                                            transform: rotate(21deg);
                                            opacity: 0.75;
                                            margin-left: 9%;
                                            margin-right: auto ;
                                            margin-top: -3vh;
                                        }

                                        .coral-10{
                                            width: 30vw;
                                            margin-left: 3%;
                                            margin-right: auto ;
                                            margin-top: 5vh;

                                        }
                                        .plants-15-alium{
                                            display: block !important;
                                            width: 30vw;
                                            margin-left: 33%;
                                            margin-top: 9vh;
                                        }

                                        .Atrium-logo-Black{
                                            width: 222px;
                                            opacity: 0.73;
                                            margin-left: 5%;
                                            margin-top: 30vh;
                                        }
                                        .footer-medium{
                                            width: 42px;
                                            height: 42px;
                                            margin-left: 12%;
                                            margin-top: 80px;
                                            color: aqua; 
                                        }

                                        svg{
                                            width: 42px;
                                            height: 42px;
                                            margin-left: 8%;
                                            margin-top: 42vh;
                                            position: absolute;
                                            display: inline-block;
                                            fill : white;
                                            background: black;
                                            place-items: center center;
                                        }
                                        footer-img svg:hover {
                                            fill: white;
                                        }
                                        svg rect{
                                            fill: black;
                                        }
                                        svg rect:hover {
                                            fill: #0fafb4;
                                        }
                            }
            }