                    /*-----Global-----*/

@font-face {
    src: url(fonts/PTSerifCaption-Regular.ttf);
    font-family: PTSerif-Caption;
    font-style: normal;
}
@font-face {
    src: url(fonts/PTSerifCaption-Italic.ttf);
    font-family: PTSerif-Italic;
    font-style: italic;
}
@font-face {
    src: url(fonts/Avenir.ttc);
    font-family: test-sans;
}

@font-face {
    src: url(fonts/Magnolia Script.otf);
    font-family: Magnolia-Script;
}





* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    width: 100vw;
    overflow-x: hidden !important;
}
html {
    
}
section{
    width: 100vw;
}
header{
    width: 100vw;
}
.wrapper{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}


                    /*-----For all the section-----*/
.background-box{
    z-index: -1000;
    position: absolute;
    width: 100vw;
    height: 7500px;
    top: 0px;
    background-image: linear-gradient(to bottom, #f9fdff, #f0f9ff);
}
h6 {
    width: 100vs;
    height: 33px;
    font-family: test-sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 5px;
    margin-top: 25px;
    
    
}
h1{
    width: 100vs;
    height: 57px;
    font-family: PTSerif-Caption, serif;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #003739;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 2%;
    margin-top: 0.5%;
    }
}

p{
    
}

                    /*-----Navigation-----*/
#navbar {
    z-index: 1000;
    position: fixed;
    display: block;
    transition: top 0.8s;
}
#navbar a {
    float: left;
    
}
.Navigation{
    position: fixed;
    width: 100vw;
    font-family: test-sans, sans-serif;
    top: 25px;
    margin-left: 58px;
    margin-right: 50px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #003739;
    position: fixed;
    
}

.Navigation a:link{
    color: #003739;
    text-decoration: none;
}

.Navigation a:hover {
    color: #0fafb4;
}
.Navigation a:visited{
    color: #003739;
}

.Story{
    margin-right: 68px;
}
.Development{
    margin-right: 68px;
}
.Who-are-we{
    margin-right: 68px;
}
.Interview-Booking{
    margin-right: 68px;
}
.Survey{
    margin-right: 68px;
}
.Breathing-Abssy{
    margin-left: 82vw;
    top: -17px;
    position: relative;
}

img{
    position: absolute;
    height: auto;
    display: inline;
}

                    /*-----Story-----*/
                    /*-----Story-Image-user-faces----*/
                    

                    /*-----Story-Image-----*/


                    /*-----Story-Text-----*/
.story-body{
    margin-top: 454px;
    padding-top: 50px;
}
.story-head-1{
    width: 192px;
    height: 180px;
    font-family: PTSerif-Caption;
    font-size: 52px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: -2.0px;
    color: #0091ff;
    margin-left: 30vw;
    bottom:1ex;
    position: static;
    
}

.story-head-2{
    width: 475px;
    height: 188px;
    font-family: PTSerif-Caption;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.0px;
    color: #0fafb4;
    margin-left: 45vw;
    top: -180px;
    position: relative;
}
.story-body article {
    margin-left: 17vw;
    margin-right: 17vw;
    float: center;
    margin-top: 320px;
    
}
.story-body article .story-sub-head-1 {
    width: 500px;
    height: 60px;
    font-family: PTSerif-Caption;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: -1.89px;
    color: #0fafb4;
}
.text-break{
    display: none !important;
}

.story-p-text-1{
    width: 450px;
    height: 148px;
    font-family: PTSerif-Caption;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.32;
    letter-spacing: -1.2px;
    color: rgba(0, 0, 0, 0.5);
}


.story-p-text-2{
    width: 426px;
    height: 170px;
    font-family: PTSerif-Caption;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.32;
    letter-spacing: -1.2px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 35vw;
    margin-top: 70px;
}
.story-body article .story-sub-head-2 {
    width: 500px;
    height: 129px;
    font-family: PTSerif-Caption;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: -1.89px;
    color: #0fafb4;
    margin-left: 35vw;
}



                    /*-----Development Process-----*/
                    /*-----Development-Image-----*/

 



                    /*-----Development-Text-----*/
.development-body{
    margin-top: 250px;
    padding-top: 50px;
}
.development-text-box{
    margin-top: 194px;
    margin-left: 25vw;
}

p.year-2019{
    width: 99px;
    height: 49px;
    font-family: PTSerif-Caption;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: -1.63px;
    color: #08ba6e;
    margin-left: 1vw;
}
p.month-august{
    width: 270px;
    height: 81px;
    font-family: PTSerif-Caption;
    font-size: 67px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: -2.87px;
    color: #08ba6e;
    margin-left: 0vw;
    position: static;
    
}
p.introduction-text{
  width: 300px;
  height: 230px;
  font-family: PTSerif-Caption;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: -0.86px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
    margin-left: 54.5vw;
    position: relative;
    top: -230px;
    
}
p.introduction-text a:link, a:visited{
    width: 153px;
    height: 49px;
    font-family: PTSerif-Caption;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -0.56px;
    text-align: center;
    color: #08ba6e;
    text-decoration: none;
}

p.introduction-text a:hover{
    color: #0fafb4;
    text-decoration: underline;
}

.development-buttons{
    z-index: 3;
    font-family: Magnolia-Script, sans-serif;
    width: 87px;
    height: 82px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin-left: 18vw;
    margin-top: 60px;
    text-shadow: 2px 2px 4px #0fa4a8;
}
.august-2019{
    cursor: zoom-in;
    position: static;
    margin-right: 40%;
}
.december-2019{
    cursor: zoom-in;
    position: relative;
    text-align: center;
    margin-left: 135%;
    top: -40px;
}

.january-2020{
    cursor: zoom-in;
    position: relative;
    text-align: center;
    margin-left: 275%;
    top: -80px;
}
.march-2020{
    cursor: zoom-in;
    position: relative;
    text-align: center;
    margin-left: 420%;
    top: -120px;
}
.july-2020{
    cursor: zoom-in;
    position: relative;
    text-align: center;
    margin-left: 570%;
    top: -160px;
}

                    /*-----Who are we-----*/
                    /*-----Who are we-image-----*/

 

                    /*-----Who are we-text-----*/
.who-we-are-body{
    margin-top: 250px;
    padding-top: 50px;
}
p.who-we-are-sub-head{
    width: 559px;
    height: 117px;
    font-family: PTSerif-Caption;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -1.5px;
    text-align: center;
    color: #08ba6e;
    margin-left: auto;
    margin-right: auto;
    
}
p.who-we-are-p-text{
  width: auto;
  height: 223px;
  font-family: PTSerif-Caption;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.55;
  letter-spacing: -0.94px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
    margin-top: 182px;
    margin-left: 58vw;
    margin-right: 12vw;
    
}
.who-we-are-body aside{
  width: 988px;
  height: 312px;
  font-family: PTSerif-Caption;
  font-size: 66px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -1.9px;
  text-align: center;
  color: #08ba6e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 169px;
}
aside strong{
    color: #003739;
    font-weight: 300;
}
                    /*-----Interview booking-----*/
                    /*-----Interview booking-image-----*/
 

                    /*-----Interview booking-text-----*/
.interview-booking-body{
    margin-top: 350px;
    padding-top: 50px;
}
.interview-booking-sub-head{
  width: 470px;
  height: 126px;
  font-family: PTSerif-Caption;
  font-size: 68px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: -2.91px;
  color: #08ba6e;
    margin-top: 95px;
    margin-left: 21.5vw;
    
}
.interview-booking-p-text{
  width: 444px;
  height: 262px;
  font-family: PTSerif-Caption;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -0.94px;
  color: #003739;
    margin-top: 31px;
    margin-left: 21.5vw;
}
.interview-booking-p-text a:link, a:visited{
    color: #08ba6e;
    text-decoration: none;
}
.interview-booking-p-text a:hover{
     color: #0fafb4;
    text-decoration: underline;
}

                    /*-----Survey-----*/
                    /*-----Survey-image-----*/

                    /*-----Survey-text-----*/
.survey-body{
    margin-top: 250px;
    padding-top: 50px;
    
}
.survey-sub-head{
  width: 50vw;
  height: 177px;
  font-family: PTSerif-Caption;
  font-size: 3.4em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.53px;
  color: #08ba6e;
    align-content: center;
    margin-left: 21.5vw;
    margin-right: 25vw;
    margin-top: 6vw;
    position: relative;
    
}
.survey-cta-link{ 
    width: 192px;
    height: 39px;
    font-family: PTSerif-Caption;
    font-size: 30px;
    line-height: 1.11;
    letter-spacing: -1.5px;
    color: #0fafb4;
    margin-left: 34%;
    margin-top: 170px;
    position: relative;
    z-index: 9999;
    display: none;
}

.survey-p-text{
    width: 381px;
    height: 215px;
    font-family: PTSerif-Caption;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -0.94px;
    color: #003739;
    margin-top: 6vw;
    margin-left: 52.2vw;
    
}

                    /*-----Breathing Abssy-----*/
                    /*-----Breathing Abssyp-image----*/


                    /*-----Breathing Abssyp-text----*/
.breathing-abssy-body{
    margin-top: 170px;
    padding-top: 50px;
}
.breathing-abssy-p-text{
  width: 514px;
  height: 382px;
  font-family: PTSerif-Caption;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -0.94px;
  text-align: center;
  color: #0fafb4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.breathing-abssy-p-text strong{
    font-weight: bold;
    font-style: italic;
    
}

                    /*-----Footer-----*/
                    /*-----Footer-image-----*/





                    /*-----Footer-text----*/
footer{
    font-family: test-sans, sans-serif;
    margin: 0;
    margin-left: 17%;
    margin-right: 15.8%;
    margin-top: 615px;
    margin-bottom: 8%;
    object-fit: contain;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
    width: 100vs;

}

.atrium2amgmailcom {
    width: 189px;
    height: 24px;
    object-fit: contain;
    position: static;
    top: 0px;
    left: 0px;
    font-weight: bold;
}
.atrium2amgmailcom a:link, a:visited{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.atrium2amgmailcom a:hover{
    color: #0fafb4;
}


.Global {
    width: 76px;
    height: 24px;
    object-fit: contain;
    position: relative;
    left: 422px;
    top: -24px;
    font-weight: bold;



}
.Republic-of-Korea-S {
  width: 197px;
  height: 24px;
    left: 660px;
    top:-48px;
    position: relative;
}

.Atrium-articles {
  width: 123px;
  height: 24px;
    object-fit: contain;
    position: relative;
    top:56px;
    font-weight: bold;


}

.Group-of-people-who{
    width: 39.1%;
    height: 1.2%;
    position: relative;
    top: 32px;
    left: 422px;
    line-height: 1.47;
}

.Powered-by-Hanwha-gr {
    width: 213px;
    height: 24px;
    object-fit: contain;
    position: relative;
    top:65px;
    left: 422px;

}


/*-----Responsive-----*/

@media()

@media only screen and (min-width:1800px){
    body{
        padding-left: 10%;
        padding-right: 10%;
    }
            /*-----Footer-----*/
    
    footer{
        margin-left: 10%;
        margin-right: 0%;
    }
    .Group-of-people-who{
    width: 60%;
    height: 1.2%;
    position: relative;
    top: 32px;
    left: 422px;
    line-height: 1.47;
    }
}


        @media only screen and (max-width:1024px){

                                /*-----For all the section-----*/    
            
            
            body{
                z-index: 10000 !important;
                width: 100vw;
                display: block;
                overflow-x: hidden!important;
            }
            
            h6{
                width:auto;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                font-size: 24px;
                text-align: center;


            }
            h1{
                width: auto;
                height: auto;
                margin-left: 0;
                margin-right: 0;
                padding-top: 13px;
                font-size: 48px;
                line-height: 1.05;
            }

            .background-box{
                z-index: -1000;
                position: absolute;
                width: 100vw;
                height: 7800px;
            }

                                /*-----Navigation-----*/

            .Navigation{
                position: fixed;
                width: auto;
                top: 25px;
                margin-left: 5vw;
                margin-right: 5vw;
                font-size: 18px;
                position: fixed;
                line-height: 1.5em;

            }
            .Navigation a:link{
                color: #003739;
                text-decoration: none;
            }

            .Navigation a:hover {
                color: #0fafb4;
            }
            .Navigation a:visited{
                color: #003739;
            }

            .Story{
                margin-right: 5vw;
            }
            .Development{
                margin-right: 5vw;
            }
            .Who-are-we{
                margin-right: 5vw;
            }
            .Interview-Booking{
                margin-right: 5vw;
            }
            .Survey{
                margin-right: 3vw;
            }
            .Breathing-Abssy{
                margin-left: 6vw;
                top: 2px;
                position: relative;
            }

                                /*-----Story-----*/
            .story-body{
                margin-top: 316px;
                padding-top: 100px;
            }
            .story-head-1{
                width: 183px;
                height: auto;
                font-size: 50px;
                line-height: 0.9;
                letter-spacing: -1.5px;
                text-align: left;
                margin-left: 20%;
                margin-right: auto;
                margin-top: 8%; 
            }

            .story-head-2{
                width: 420px;
                height: auto;
                font-size: 28px;
                line-height: 1.46;
                letter-spacing: -1.5px;
                text-align: left;
                margin-left: 44%;
                margin-right: auto;
                margin-top: -10px;
            }

            .story-body article {
                margin-left: 8.5%;
                margin-right: 8.5%;
                margin-top: 14%;

            }
            .story-body article .story-sub-head-1 {
                width: 475px;
                height: 60px;
                font-family: PTSerif-Caption;
                font-size: 44px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.98;
                letter-spacing: -1.89px;
            }
            .text-break{
                display: none !important;
            }
            .story-p-text-1{
                width: 500px;
                height: 257px;
                font-size: 28x;
                line-height: 1.32;
                letter-spacing: -1.2px;;
                margin-left: 0px;
                margin-top: 100px;
            }


            .story-p-text-2{
                width: 50%;
                height: 1.6%;
                font-size: 28px;
                line-height: 1.32;
                letter-spacing: -1.2px;
                margin-left: 47.1%;
                margin-top: 0%;
            }

            .story-body article .story-sub-head-2 {
                width: 50%;
                height: 1.7%;
                font-size: 44px;
                line-height: 1.05;
                letter-spacing: -1.8px;
                color: #0fafb4;
                margin-left: 47.1%;
                margin-top: 4%;
            }

                            /*-----Development Process-----*/
            .development-body{
                margin-top: 30px;
                padding-top: 120px;
            }
            .development-body h1{
                width:auto;
                height: 84px;
                margin-left: auto;
                margin-right: auto;
            }
            .development-text-box{
                margin-top: 121px;
                margin-left: 16%;
                margin-right: 16%;
            }

            p.year-2019{
            }
            p.month-august{
            }

            .development-buttons{
                z-index: 10;
                width: 68px;
                height: 63px;
                font-size: 12px;
                text-align: center;
                margin-left: 54px;
                margin-top: -60px;
            }
            .development-buttons:hover {
                cursor: zoom-in;
            }

            .august-2019{
                position: static;
                margin-right: 28px;
                margin-top: 80px;
            }
            .december-2019{
                top: -34px;
                margin-left: 150%
            }

            .january-2020{
                margin-left: 300%;
                top: -68px;
            }
            .march-2020{
                margin-left: 450%;
                top: -102px;
            }
            .july-2020{
                margin-left: 620%;
                top: -136px;
                margin-right: 0px;
            }


                            /*-----Who are we-----*/
            .who-we-are-body{
                margin-top: 262px;
                padding-top: 120px;
            }
            p.who-we-are-sub-head{
                width: auto;
                height: 156px;
                font-size: 300%;
                line-height: 1.08;
                margin-top: 57px;
                letter-spacing: -2.06px;
                margin-left: 15vw;
                margin-right: 15vw;
            }

            p.who-we-are-p-text{
                width: 70vw;
                height: 257px;
                font-size: 180%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.42;
                letter-spacing: -1.41px;
                margin-top: 630px;
            }

            .who-we-are-body aside{
                  width: 90vw;
                  height: auto;
                  font-size: 66px;
                  line-height: 1.18;
                  letter-spacing: -1.9px;
                margin-top: 25%;
            }
            
            aside strong{
                color: #003739;
                font-weight: 300;
            }

                            /*-----Interview booking-----*/
            .interview-booking-body{
                margin-top: 220px;
                padding-top: 120px;
            }
            .interview-booking-sub-head{
                width: 421px;
                height: 126px;
                font-family: PTSerif-Caption;
                font-size: 60px;
                line-height: 0.93;
                letter-spacing: -2.91px;
                margin-left: 10%;
                margin-right: auto;
            }


            .interview-booking-p-text{
                width: 444px;
                height: 318px;
                font-size: 23px;
                margin-left: 10%;
                margin-right: auto;
            }
            .interview-booking-p-text a:hover{
                color: aquamarine;
            }

                                /*-----Survey-1024----*/
            .survey-body{
                margin-top: 105px;
                padding-top: 120px;
            }
            .survey-sub-head{
                width: 80vw;
                height: 177px;
                font-size: 3em;
                line-height: 0.98;
                letter-spacing: -2.53px;
                margin-left: 10vw;
                margin-right: 10vw;

            }
            .survey-sub-head .text-break{
                display: block!important;
            }
            .survey-p-text{
                width: 381px;
                height: 215px;
                font-size: 23px;
                margin-left: 50%;
                margin-right: auto;
                margin-top: 1vw;
                position: relative;
                line-height: 1.55;

            }
            .survey-cta-link{ 
                font-size: 30px;
                line-height: 1.11;
                letter-spacing: -1.5px;
                color: #0fafb4;
                margin-left: 26%;
                margin-top: 150px;
                }


                                 /*-----Breathing Abssy-----*/


            .breathing-abssy-body{
                margin-top: 130px;
                padding-top: 120px;
            }
            .breathing-abssy-body .text-break{
                display: none !important;
            }
            .breathing-abssy-p-text{
                width: 440px;
                height: 462px;
                font-size: 23px;
                text-align: center;
                margin-left: 28%;
                margin-right: auto;
                margin-top: 77px;
            }

                                /*-----footer-----*/
            footer{
                font-size: 17px;
                margin-left: 12%;
                margin-right: 10%;
                margin-bottom: 3%;
            }

            .Global{
                top: -235px;
                left: 35%;
            }
            .atrium2amgmailcom{
                position: relative;
                top: -212px;
            }

            .Republic-of-Korea-S{
                top: -260px;
                left: 64%;
            }
            .Atrium-articles{
                top: -199px;
                left: 0px;
            }
            .Group-of-people-who{
                top: -220px;
                left: 35%;
                width: 60%;
                margin-right: 10px;

            }
            .Powered-by-Hanwha-gr{
                top: -180px;
                left: 35%;
            }
        }

            @media (max-width:1025px){
                p.introduction-text{
                    width: 240px;
                    height: 230px;
                    font-size: 18px;
                    line-height: 1.5;
                    letter-spacing: -0.86px;
                    margin-left: 58%;
                    margin-right: auto;
                    margin-top: 90px;
                }
            }
                @media only screen and (max-width:414px){

                                            /*-----For all the section-----*/    
                        body{
                            width: 100vw;
                            overflow-x: hidden!important;
                        }
                        h6{
                            width: auto;
                            height: auto;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 21px;
                            text-align: center;

                        }
                        h1{
                            width: auto;
                            height: auto;
                            margin-left: 0;
                            margin-right: 0;
                            padding-top: 13px;
                            font-size: 40px;
                            line-height: 1.05;
                        }
                    
                        .background-box{
                            z-index: -1000;
                            position: absolute;
                            width: 100vw;
                            height: 9200px;
                        }

                                            /*-----Navigation-----*/

                        .Navigation{
                            position: fixed;
                            width: auto;
                            top: 25px;
                            margin-left: 20px;
                            margin-right: 0px;
                            font-size: 18px;
                            position: fixed;
                            line-height: 1.5em;

                        }
                        .Navigation a:link{
                            color: #003739;
                            text-decoration: none;
                        }

                        .Navigation a:hover {
                            color: #0fafb4;
                        }
                        .Navigation a:visited{
                            color: #003739;
                        }

                        .Story{
                            margin-right: 60px;
                        }
                        .Development{
                            margin-right: 55px;
                        }
                        .Who-are-we{
                            margin-right: 0px;
                        }
                        .Interview-Booking{
                            margin-right: 25px;
                        }
                        .Survey{
                            margin-right: 25px;
                        }
                        .Breathing-Abssy{
                            margin-left: 0px;
                            top: 1px;
                            position: relative;
                        }

                                            /*-----Story-----*/
                        .story-body{
                            margin-top: 366px;
                            padding-top: 100px;
                        }
                        .story-head-1{
                            width: auto;
                            height: 276px;
                            font-size: 4.5em;
                            line-height: 0.85;
                            letter-spacing: -0.47px;
                            text-align: center;
                            margin-left: 15%;
                            margin-right: 20%;
                            margin-top: 27px;

                        }

                        .story-head-2{
                            width: 280px;
                            height: 281px;
                            line-height: 1.47;
                            letter-spacing: -1.37px;
                            text-align: center;
                            margin-left: 56px;
                            margin-right: 56px;
                            margin-top: 285px;
                        }
                        .story-body article {
                            margin-left: 27px;
                            margin-right: 24px;

                        }
                        .story-body article .story-sub-head-1 {
                            width: 291px;
                            height: 132px;
                            font-family: PTSerif-Caption;
                            font-size: 44px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 0.98;
                        }
                        .text-break{
                            display: block !important;
                        }
                        .story-p-text-1{
                            width: auto;
                            height: auto;
                            font-size: 1.0em;
                            line-height: 1.5;
                            letter-spacing: -0.86px;
                            margin-left: 27vw;
                            margin-right: 4.1vw;
                            margin-top: 10vw;
                        }


                        .story-p-text-2{
                            width: 330px;
                            height: 115px;
                            font-size: 1.1em;
                            line-height: 1.5;
                            letter-spacing: -0.86px;
                            margin-left: 0px;
                            margin-top: 60vw;
                        }
                        .story-body article .story-sub-head-2 {
                            width: auto;
                            height: 176px;
                            font-size: 2.7em;
                            line-height: 1.05;
                            letter-spacing: -1.8px;
                            color: #0fafb4;
                            margin-left: 0px;
                        }

                                        /*-----Development Process-----*/
                        .development-body{
                            margin-top: 0px;
                            padding-top: 120px;
                        }
                        .development-body h1{
                            width:300px;
                            height: 84px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .development-text-box{
                            margin-top: 30vw;
                            margin-left: 20vw;
                            margin-right: 20vw;
                        }

                        p.year-2019{
                            width: auto;
                            height: 40px;
                            font-family: PTSerif-Caption;
                            font-size: 35px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 0.97;
                            letter-spacing: -1.63px;
                            color: #08ba6e;
                            margin-left: 0vw;
                            text-align: center;
                        }
                        p.month-august{
                            width: auto;
                            height: 81px;
                            font-family: PTSerif-Caption;
                            font-size: 67px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 0.82;
                            letter-spacing: -2.87px;
                            color: #08ba6e;
                            margin-left: 0vw;
                            position: static;
                            text-align: center;

                        }
                        p.introduction-text{
                            width: 60%;
                            height: 260px;
                            font-size: 1.1em;
                              line-height: 1.52;
                              letter-spacing: -0.9px;
                            margin-left: 20%;
                            margin-right: 20%;
                            margin-top: 114%;

                        }

                        .development-buttons{
                            z-index: 22;
                            width: auto;
                            height: auto;
                            font-size: 0.75em;
                            text-align: center;
                            margin-left: 0;
                            margin-top: -32vh;
                        }

                        .august-2019{
                            position: static;
                            margin-left: -75%;
                            margin-top: 0;
                        }
                        .december-2019{
                            margin-left: -40%;
                            top: -34px;
                        }

                        .january-2020{
                            margin-left: 0%;
                            top: -68px;
                        }
                        .march-2020{
                            margin-left: 40%;
                            top: -102px;
                        }
                        .july-2020{
                            margin-left: 85%;
                            top: -136px;
                            margin-right: 10px;
                        }


                                        /*-----Who are we-----*/
                        .who-we-are-body{
                            margin-top: 92px;
                            padding-top: 120px;
                        }
                        p.who-we-are-sub-head{
                            width: 340px;
                            height: 285px;
                            font-size: 2.5em;
                              line-height: 1.11;
                            margin-top: 57px;
                            margin-left: auto;
                            margin-right: auto;

                        }
                    
                        p.who-we-are-p-text{
                              width: 328px;
                              height: 256px;
                              font-size: 1.3em;
                              text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 400px;

                        }
                    
                        .who-we-are-body aside{
                              width: 80%;
                              height: 70vh;
                              font-size: 2.8em;
                              line-height: 1.02;
                              letter-spacing: -1.47px;
                        }
                        aside strong{
                            color: #003739;
                            font-weight: 300;
                        }

                                        /*-----Interview booking-----*/
                        .interview-booking-body{
                            margin-top: 0px;
                            padding-top: 120px;
                        }
                        .interview-booking-sub-head{
                            width: auto;
                            height: auto;
                            font-size: 3.1em;
                            line-height: 0.95;
                            letter-spacing: -2.66px;
                            margin-left: 5%;
                            margin-right: 5%;
                            margin-top: 453px;

                        }
                    

                        .interview-booking-p-text{
                            width: auto;
                            height: 318px;
                            font-size: 1.35em;
                            margin-left: 5%;
                            margin-right: 5%;
                        }

                                            /*-----Survey-----*/
                        .survey-body{
                            margin-top: 165px;
                            padding-top: 120px;
                        }
                        .survey-sub-head{
                            width: auto;
                            height: auto;
                            font-size: 2.6em;
                            line-height: 0.98;
                            letter-spacing: -2.53px;
                            margin-left: 5%;
                            margin-right: 5%;

                        }
                        .survey-sub-head .text-break{
                            display: block!important;
                        }
                        .survey-p-text{
                            width: 80vw;
                            height: 175px;
                            font-family: PTSerif-Caption;
                            font-size: 1.2em;
                            margin-left: 10vw;
                            margin-right: 10vw;
                            margin-top: 210px;
                            line-height: 1.55;
                            letter-spacing: -0.94px;

                        }
                        .survey-cta-link{ 
                            width: 80vw;
                            height: 39px;
                            font-family: test-sans;
                            font-size: 32px;
                            line-height: 1.11;
                            letter-spacing: -1.5px;
                            color: #0fafb4;
                            margin-left: 40%;
                            margin-top: 31vw;
                        }
                    

                                             /*-----Breathing Abssy-----*/

                        
                        .breathing-abssy-body{
                            margin-top: 30px;
                            padding-top: 120px;
                        }
                        .breathing-abssy-body .text-break{
                            display: block !important;
                        }
                        .breathing-abssy-p-text{
                            width: 266px;
                            height: 674px;
                            font-size: 22px;
                            text-align: left;
                            margin-left: 24px;
                            margin-right: auto;
                            margin-top: 77px;
                        }

                                            /*-----footer-----*/
                        footer{
                            font-size: 15px;
                            margin-left: 7%;
                            margin-right: 7%;
                            margin-bottom: 40px;
                        }

                        .Global{
                            top: -58px;
                            left: 0px;
                        }
                        .atrium2amgmailcom{
                            position: relative;
                            top: -112px;
                            left: 142px;
                        }

                        .Republic-of-Korea-S{
                            top: -45px;
                            left: 0px;
                        }
                        .Atrium-articles{
                            top: -185px;
                            left: 0px;
                        }
                        .Group-of-people-who{
                            top: -45px;
                            left: 0px;
                            width: auto;
                            margin-right: 10px;

                        }
                        .Powered-by-Hanwha-gr{
                            top:0px;
                            left: 0px;
                        }
                    }


                            @media only screen and (max-width:360px){

                                                    /*-----For all the section-----*/    
                                body{
                                    width: 100vw;
                                    overflow-x: hidden;
                                }
                                h6{
                                    width:auto;
                                    height: auto;
                                    margin-left: auto;
                                    margin-right: auto;
                                    font-size: 21px;

                                }
                                h1{
                                    width: auto;
                                    height: auto;
                                    margin-left: 0;
                                    margin-right: 0;
                                    padding-top: 13px;
                                    font-size: 35px;
                                    line-height: 1.03;
                                }
                                .background-box{
                                    z-index: -1000;
                                    position: absolute;
                                    width: 100vw;
                                    height: 8450px;
                                }

                                                    /*-----Navigation-----*/

                                .Navigation{
                                    position: fixed;
                                    width: 95vw;
                                    top: 25px;
                                    margin-left: 5vw;
                                    margin-right: 0px;
                                    font-size: 22px;
                                    position: fixed;
                                    line-height: 1.3em;

                                }
                                .Navigation a:link{
                                    color: #003739;
                                    text-decoration: none;
                                }

                                .Navigation a:hover {
                                    color: #0fafb4;
                                }
                                .Navigation a:visited{
                                    color: #003739;
                                }

                                .Story{
                                    margin-right: 40px;
                                }
                                .Development{
                                    margin-right: 68px;
                                }
                                .Who-are-we{
                                    margin-right: 13px;
                                }
                                .Interview-Booking{
                                    margin-right: 0px;
                                }
                                .Survey{
                                    margin-right: 32px;
                                }
                                .Breathing-Abssy{
                                    margin-left: 0px;
                                    top: 1px;
                                    position: relative;
                                }

                                                    /*-----Story-----*/
                                .story-body{
                                    margin-top: 367px;
                                    padding-top: 120px;
                                }
                                .story-head-1{
                                    width: 80vw;
                                    height: 276px;
                                    font-size: 4em;
                                    line-height: 0.85;
                                    letter-spacing: -0.47px;
                                    text-align: center;
                                    margin-left: 10vw;
                                    margin-right: 10vw;
                                    margin-top: 27px;

                                }

                                .story-head-2{
                                    width: 90vw;
                                    height: 281px;
                                    font-size: 1.9em;
                                    line-height: 1.47;
                                    letter-spacing: -1.37px;
                                    text-align: center;
                                    margin-left: 5vw;
                                    margin-right: 5vw;
                                    margin-top: 265px;
                                }
                                .story-body article {
                                    margin-left: 27px;
                                    margin-right: 24px;

                                }
                                .story-body article .story-sub-head-1 {
                                    width: 90vw;
                                    height: 152px;
                                    font-family: PTSerif-Caption;
                                    font-size: 2.8em;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 0.98;
                                }
                                .text-break{
                                    display: block !important;
                                }
                                .story-p-text-1{
                                    width: 70vw;
                                    height: 257px;
                                    font-size: 1em;
                                    line-height: 1.5;
                                    letter-spacing: -0.86px;
                                    margin-left: 15vw;
                                    margin-right: 5vw;
                                }


                                .story-p-text-2{
                                    width: 80vw;
                                    height: 115px;
                                    font-size: 1em;
                                    line-height: 1.5;
                                    letter-spacing: -0.86px;
                                    margin: 0px;
                                    margin-top: 10vh;
                                }
                                .story-body article .story-sub-head-2 {
                                    width: 90vw;
                                    height: auto;
                                    font-size: 2.5em;
                                    line-height: 1.05;
                                    letter-spacing: -1.8px;
                                    color: #0fafb4;
                                    margin-left: 0vw;
                                    margin-top: 5vh;
                                }

                                                /*-----Development Process-----*/
                                .development-body{
                                    margin-top: 0px;
                                    padding-top: 120px;
                                }
                                .development-body h1{
                                    width:300px;
                                    height: 84px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                                .development-text-box{
                                    margin-top: 30vw;
                                    margin-left: 10vw;
                                    margin-right: 10vw;
                                    position: relative;
                                }

                                p.year-2019{
                                    width: 80vw;
                                    height: 49px;
                                    font-family: PTSerif-Caption;
                                    font-size: 38px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 0.97;
                                    letter-spacing: -1.63px;
                                    color: #08ba6e;
                                    margin-left: 0vw;
                                }
                                p.month-august{
                                    width: 80vw;
                                    height: 81px;
                                    font-family: PTSerif-Caption;
                                    font-size: 67px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 0.82;
                                    letter-spacing: -2.87px;
                                    color: #08ba6e;
                                    margin-left: 0vw;
                                    position: static;

                                }
                                p.introduction-text{
                                    width: auto;
                                    height: auto;
                                    font-size: 1em;
                                      line-height: 1.52;
                                      letter-spacing: -0.9px;
                                    margin-left: 20%;
                                    margin-right: 20%;
                                    margin-top: 127vw;

                                }

                                .development-buttons{
                                    width: 62px;
                                    height: 57px;
                                    font-size: 11px;
                                    text-align: center;
                                    margin-left: 10vw;
                                    margin-top: -32vw;
                                }
                                .august-2019{
                                    position: static;
                                    margin-right: 21px;
                                    margin-top: -80px;
                                }
                                .december-2019{
                                    margin-left: 15vw;
                                    top: -31px;
                                }

                                .january-2020{
                                    margin-left: 35vw;
                                    top: -62px;
                                }
                                .march-2020{
                                    margin-left: 55vw;
                                    top: -93px;
                                }
                                .july-2020{
                                    margin-left: 78vw;
                                    top: -124px;
                                    margin-right: 10px;
                                }


                                                /*-----Who are we-----*/
                                .who-we-are-body{
                                    margin-top: 92px;
                                    padding-top: 120px;
                                }
                                p.who-we-are-sub-head{
                                      width: 80vw;
                                    font-size: 2.2em;
                                      line-height: 1.11;
                                    margin-top: 65px;
                                    margin-left: 10vw;
                                    margin-right: 10vw;

                                }
                                p.who-we-are-p-text{
                                      width: 90vw;
                                      height: 256px;
                                      font-size: 1.2em;
                                      text-align: center;
                                    margin-left: 5vw;
                                    margin-right: 5vw;

                                }
                                .who-we-are-body aside{
                                      width: 90vw;
                                      height: auto;
                                      font-size: 2.6em;
                                      line-height: 1.02;
                                      letter-spacing: -1.47px;
                                }
                                aside strong{
                                    color: #003739;
                                    font-weight: 300;
                                }

                                                /*-----Interview booking-----*/
                                .interview-booking-body{
                                    margin-top: 0vh;
                                    padding-top: 120px;
                                }
                                .interview-booking-sub-head{
                                    width: 88vw;
                                    height: 102px;
                                    font-family: PTSerif-Caption;
                                    font-size: 2.9em;
                                    line-height: 1;
                                    letter-spacing: -2.19px;
                                    margin-left: 6vw;

                                }
                                .interview-booking-p-text{
                                    width: 90vw;
                                    height: 318px;
                                    font-size: 1.2em;
                                    margin-left: 5vw;
                                    margin-right: 5vw;
                                }

                                                    /*-----Survey-----*/
                                .survey-body{
                                    margin-top: 8vh;
                                    padding-top: 120px;
                                }
                                .survey-sub-head{
                                    width: 90vw;
                                    height: auto;
                                    font-size: 2.7em;
                                    line-height: 1.1;
                                    letter-spacing: -2.14px;
                                    margin-left: 5vw;
                                    margin-right: 5vw;
                                    margin-top: 6vh;

                                }
                                .survey-p-text{
                                    width: 90vw;
                                    height: 214px;
                                    font-family: PTSerif-Caption;
                                    font-size: 1.2em;
                                    margin-left: 5vw;
                                    margin-right: 5vw;
                                    margin-top: 26px;

                                }
                                .survey-cta-link{ 
                                    width: auto;
                                    height: auto;
                                    font-family: test-sans;
                                    font-size: 1.5em;
                                    line-height: 1.11;
                                    letter-spacing: -1.5px;
                                    color: #0fafb4;
                                    margin-left: 41%;
                                    margin-top: 38vh;
                                    z-index: 10;
                                }

                                                     /*-----Breathing Abssy-----*/

                                .breathing-abssy-body{
                                    margin-top: 130px;
                                    padding-top: 120px;
                                }
                                .breathing-abssy-p-text{
                                    width: 70vw;
                                    height: 674px;
                                    font-size: 1.03em;
                                    text-align: left;
                                    margin-left: 24px;
                                    margin-right: auto;
                                    margin-top: 77px;
                                }

                                                    /*-----footer-----*/
                                footer{
                                    font-size: 15px;
                                    margin-left: 7%;
                                    margin-right: 7%;
                                    margin-bottom: 40px;
                                }

                                .Global{
                                    top: -20vh;
                                    left: 0px;
                                }
                                .atrium2amgmailcom{
                                    position: relative;
                                    top: -210px;
                                    left: 50vw;
                                    width: 30vw;
                                }

                                .Republic-of-Korea-S{
                                    top: -20vh;
                                    left: 0px;
                                }
                                .Atrium-articles{
                                    top: -283px;
                                    left: 0px;
                                }
                                .Group-of-people-who{
                                    top: -20vh;
                                    left: 0px;
                                    width: auto;
                                    margin-right: 10px;

                                }
                                .Powered-by-Hanwha-gr{
                                    top: -12vh;
                                    left: 0px;
                                }
                            }



                                