@font-face {
    src: url(fonts/PTSerif-Regular.ttf);
    font-family: PTSerif-Regular;
    font-style: normal;
}
@font-face {
    src: url(fonts/PTSerifCaption-Italic.ttf);
    font-family: PTSerif-Italic;
    font-style: italic;
}
@font-face {
    src: url(fonts/Mulish-VariableFont_wght.ttf);
    font-family: test-sans;
}

@font-face {
    src: url(fonts/Magnolia Script.otf);
    font-family: Magnolia-Script;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700&family=Noto+Sans+KR:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

footer{
    font-family: 'test-sans','Noto Sans KR', sans-serif;
    display: flex;
    height: 80vw;
    border: 3px solid black;
    margin: 5vw;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.atrium2amgmailcom{
    border: 3px solid black;
    margin: 10px 20px 10px 200px;
    
}

.Global{
    border: 3px solid black;
    margin: 10px 20px 10px 200px;
}

.Republic-of-Korea-S{
    border: 3px solid black;
    margin: 10px 20px 10px 200px;
}
.Atrium-articles {
    border: 3px solid black;
    margin: 10px 100px 10px 200px;
}
.Group-of-people-who{
    border: 3px solid black;
    margin: 10px 100px 10px 200px;
}
.Powered-by-Hanwha-gr {
    border: 3px solid black;
    margin: 10px 100px 10px 200px;
}